<div
        class="waf--field-container {% if field.errors %}waf--field-container--error{% endif %}"
        data-waf-field
>
    <div class="waf--checkbox-container">
        {{ field }}
        {% if  field.field.widget.display_checkbox_label %}
        <label class="waf--field-label-choice" for="{{ field.id_for_label }}">
            {{ field.label }}
        </label>
        {% endif %}
    </div>
    {% if field.help_text %}
        {% include "wagtail_advanced_form_builder/field_helpers/field_help_text.html" %}
    {% endif %}
    {% include "wagtail_advanced_form_builder/field_helpers/field_error.html" %}
</div>
